.img-responsive{width:100%;height:300px;}
.singleimage{margin:20px;}
.red{background:red;
    color:white;}
.orange{
    background:orange;
    color:white;
    
}
.green{
     background:green;
    color:white;
    
}